<h1><%= @room.title %></h1>
<br/>
<% if @room.user == current_user %>
<%= button_to "Delete room", user_room_path, method: :delete,
                  class: "btn btn-danger",
                  id: "delete_btn" %>
<% end %>
