<div class="header">
  <div class="logo pull-left">
    <h2 class="logo-text">
      <a href="<%= root_path %>">CinemaSync</a>
    </h2>
  </div>
  <div class="authorization pull-right">
    <% if !user_signed_in? %>
    <%= link_to "Войти", new_user_session_path, class: "authorization-text"%>
    <%= link_to "Регистрация", new_user_registration_path, class: "authorization-text" %>
  <% else %>
    <%= link_to "Выйти", destroy_user_session_path, method: :delete, class: "authorization-text" %>
    <% end %>
  </div>
</div>
