$chat-header-color: #d4fd02;
$chat-header-text-color: #000000;
$chat-body-color: #ffffff;
$chat-header-height: 10rem;
$room-body-height: 90rem;
$chat-height: 90rem;
$video-block-header-height: 5rem;
$video-height: 60rem;
$options-height: 20rem;
$room-page-header-height: 10rem;

.room-page {
  box-sizing: border-box;
  padding: 5rem 10rem !important;

  &-header {
    text-align: center;
    color: #ffffff;
    font-size: 3.5rem;
    font-family: Maven Pro;
    height: $room-page-header-height;
    margin-top: 2rem;

    h2 {
      display: inline-block;
      margin: 0;
    }
  }

  &-body {
    height: calc(100% - $room-page-header-height);

    &-video-block {
      height: 70%;

      &-header {
        height: $video-block-header-height;
        color: #ffffff;
        text-align: left;
        font-size: 3rem;
      }

      &-video {
        height: $video-height;

        .add-video-area {
          height: 100%;
          width: 100%;
          border: 0.3rem dashed #ffffff;
          background: rgba(0,0,0,.5);
          position: relative;

          &-target {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 10%;
            height: $video-height / 6;
            border: 0.3rem dashed #ffffff;
            cursor: pointer;
            transition: background .3s;

            &:hover {
              background: rgba(0,0,0, .55);
            }

            span {
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              position: absolute;
              font-size: 4rem;
              color: #ffffff;
            }
          }
        }
      }
    }

    &-options {
      margin-top: 5rem;
      width: 100%;
      height: $options-height;
      background: rgba(0,0,0,.7);

      .option-button {
        display: inline-block;
        position: relative;
        top: 2rem;
        left: 3rem;
        width: 16rem;
        height: 4rem;
        line-height: 4rem;
        color: #ffffff;
        font-size: 2.5rem;
        text-align: center;
        text-decoration: none;
      }
      $edit-room-button-color: #01b7ee;

      .edit-room-button {
        background: $edit-room-button-color;

        &:hover {
          background: darken($edit-room-button-color,3%);
        }
      }
      $delete-room-button-color: #ff0000;

      .delete-room-button {
        margin-left: 2rem;
        background: $delete-room-button-color;

        &:hover {
          background: darken($delete-room-button-color,3%);
        }
      }
    }

    &-chat {
      height: 100%;

      &-header {
        text-align: center;
        height: $chat-header-height;
        width: 100%;
        height: 50px;
        margin-top: 25px;
        font-size: 2em;
        font-family: Maven Pro;
        background: $chat-header-color;
        font-weight: bold;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        color: $chat-header-text-color;
        border-bottom: 2px solid #000;

        h2 {
          position: relative;
          margin: 0;
          top: 50%;
          transform: translateY(-50%);
          font-size: 3rem;
        }
      }

      &-body {
        height: $chat-height - $chat-header-height;
        background: $chat-body-color;
      }
    }
  }

  #chat {
    padding-left: 15px;
    padding-right: 15px;
    height: 750px;
    overflow-y: scroll;
  }
}

.edit-room {
  background: rgba(0,0,0,.6);
  padding: 3rem !important;
  border-radius: 0.6rem;
  margin-top: 4rem;

  &-form-button {
    margin-top: 2rem;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }

  &-label {
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

.picture-room {}

.wrapper-input {
  margin-bottom: 1rem;

  &-field {
    &-long {
      display: inline-block;
      max-width: 100%;
      min-width: 70%;
    }

    &-short {
      display: inline-block;

      max-width: 50%;
      min-width: 20%;
    }
  }
}

.edit-sign {
  cursor: pointer;
  margin-left: 1rem;
}

.edit-ok {
  cursor: pointer;
  color: #00ff00;
}

.edit-input {
  border: none;
  outline: none;
  min-width: 6rem;
  // border: .2rem solid #ffffff;
  background: rgba(0,0,0,.6);
}

.edit-form-hidden {
  display: none;
}
