	<div class="chat-box">
		<div class="user-box">
			<%= image_tag 'user.png', class: 'user-img' %>
			<p class="username-field"><%= message.user.username %></p>
		</div>
		<div class="message-box">
			<p class="message-field"><%= message.body %></p>
		</div>
	</div>
